{{! index.hbs }}

<html lang="es">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Proyecto con Handlebars</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
  </head>
  <body>
    {{{body}}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/js/main.js"></script>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
    ></script>
    <script src="js/bootstrap.min.js"></script>
  </body>

</html>