{{! index.hbs }}

<html lang="es">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Proyecto con Handlebars</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/login">Iniciar Sesión</a></li>
        <li class="nav-item"><a
            class="nav-link"
            href="/register"
          >Registro</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Cerrar Sesión</a></li>
      </ul>
    </nav>
    {{{body}}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/js/main.js"></script>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
    ></script>
    <script src="js/bootstrap.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"
    ></script>
  </body>

</html>