<div>
  <h1>Bienvenido {{username}}</h1>
  {{#if logged}}
    <button onclick="location.href = '/logout'">Cerrar Sesión</button>
  {{else}}
    <h2>Inicia sesión!</h2>
    <form action="/login" method="POST" id="login-form">
      Nombre:
      <input type="text" id="username" name="username" />
      <button>Inicia Sesión</button>
    </form>
  {{/if}}
</div>
<h2>Crear Producto</h2>
<form onsubmit="return addProduct(this)" id="create-product">
  Nombre:
  <input type="text" id="title" name="title" />
  Precio:
  <input type="number" id="price" name="price" />
  Imagen:
  <input type="text" id="thumbnail" name="thumbnail" />
  <button>Crear</button>
</form>
<input
  type="button"
  onclick="location.href='/productos';"
  value="Lista Productos"
/>

<h3>Lista de productos:</h3>
<table class="table" id="ptable-head">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Imagen</th>
    </tr>
  </thead>
  <tbody id="ptable-products">
  </tbody>
</table>

<h3>Chat:</h3>
<h3 id="compressed-percentage">
</h3>
<form id="chat-form" onsubmit="return addMessage(this)">
  <div>
    <input
      type="text"
      id="email"
      placeholder="andy@gmail.com"
      style="width:50%"
      required
    />
    <input
      type="text"
      id="nombre"
      placeholder="Andy"
      style="width:50%"
      required
    />
    <input
      type="text"
      id="apellido"
      placeholder="Patino"
      style="width:50%"
      required
    />
    <input type="text" id="edad" placeholder="28" style="width:50%" required />
    <input
      type="text"
      id="alias"
      placeholder="SirNagi"
      style="width:50%"
      required
    />
    <input
      type="text"
      id="avatar"
      placeholder="https://i.pravatar.cc/300"
      style="width:50%"
      required
    />
    <hr />
    <div id="messages"></div>
    <p></p>
    <input
      type="text"
      class="form-control"
      id="text"
      placeholder="Escribe algo..."
      style="width:30%"
    />
    <p></p>
    <button type="submit">Enviar</button>
  </div>
</form>