<h2>Crea una cuenta</h2>
<form action="/register" method="POST" id="register-form">
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Email</label>
    <input
      type="email"
      id="form2Example1"
      class="form-control"
      name="username"
    />
  </div>

  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">Contraseña</label>
    <input
      type="password"
      id="form2Example2"
      class="form-control"
      name="password"
    />
  </div>

  <button type="submit" class="btn btn-dark btn-block mb-4">Crear Cuenta</button>

  <div class="text-center">
    <p>Ya tienes cuenta? <a href="/login">Inicia Sesión</a></p>
  </div>
</form>